*{
    margin:0;
    padding:0;
}

.container{
    border:solid;
    text-align: center;
    margin-left:25%;
    margin-top: 10%;
    background-color:rgba(58, 134, 8, 0.774);
    justify-content: center;
    width:50%;
    color:rgb(25, 21, 75);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    
} 

input{
    width:50%;
    height:50px;
    text-align: center;
    border-radius: 1%;
}


    .btn{
        
        width:20%;
        margin-bottom: 20px;
    }

   .btn:hover{
        background-color: rgb(25, 21, 75);
    }